h1 {
    margin-left: 40%;
    color: #be76e2;
}

.box {
    width: 70%;
    height: 40%;
    background: #e6abf4;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-left:15%;
}

.klausimas {
    font-size: 25pt;
    margin-left: 10px;
    margin-top: 5px;
    color: #fff7f2;
    text-align:center;
}

.atsakymas {
    font-size: 20pt;
    margin-left: 20px;
    margin-top: 10px;
    background: #fcd3ba;
    color: #f28e95;
    margin-right:20px;
}

.atsakymas:hover {
    background:white;
}

#submit {
    margin-top: 10px;
    width: 10vw;
    height: 4vw;
    margin-left: 45%;
    background: #e6abf4;
    border-radius: 20px;
    color: #fff7f2;
}
.atsakymas.pilka {
    background: grey;
}

#lentele {
    background: #a32f8c;
    color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;
    position: fixed;
    font-size: 30pt;
    display: none;
}

#iksas {
    position:absolute;
    background:gray;
    top:0;
    right:0;
    font-size:30pt;
    padding:5px;
}

#lentele.rodyti {
    display: block;
}